
<mat-card class="loginCard">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
      <label>Email: </label>
      <input matInput type="email" name="email" ngModel required>
      <label> Password: </label>
      <input matInput type="password" name="password" ngModel required>
      <hr>
      <button type="submit">Login</button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [routerLink]="['/signup']">Signup</button>
  </mat-card-actions>
</mat-card>

