
<mat-card class="signupCard">
    <mat-card-header>
      <mat-card-title>Signup</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="registerUser(loginForm)">
        <label>Email: </label><input type="input" name="email" ngModel>
        <label> Password: </label><input type="password" name="password" ngModel>
        <hr>
        <button type="submit">Signup</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="['/login']">Login</button>
    </mat-card-actions>
  </mat-card>

