.example-card {
  width: 30%;
  display: block;
  position: relative;
  margin: 2em auto;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

}

.mat-card-image {
  width: calc(100% + 32px);
  height: 50%;
}
