<mat-card *ngFor="let meme of memes | async" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ meme.title | replaceDashes}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image id="{{ meme.title }}" alt="{{ meme.title | replaceDashes}}">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>SHARE</button>
    <button [routerLink]="['/edit', meme.title]" mat-button>EDIT</button>
    <button mat-button>DELETE</button>
  </mat-card-actions>
</mat-card>
