canvas {
    display: block;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.leftToolbar {
    float: left;
    background-color: white;
    margin-left: 10em;
    padding: 0;
}

.rightToolbar {
    float: right;
    margin-right: 10em;
    display:block;
}

.rightToolbar>button {
  display: block;
}
