<form>
  <div class='leftToolbar'>
    <input type="file" (change)="renderImage($event)" accept="image/*" required>
    <input type="text" name="title" (change)="getUserInput($event)" required>
    <input type="text" name="topText" (change)="getUserInput($event)">
    <input type="text" name="bottomText" (change)="getUserInput($event)">
  </div>
  <div class="rightToolbar">
    <button type="submit" (click)="uploadImage()" mat-button>Save</button>
    <button routerLink="/"mat-button>Cancel</button>
  </div>
</form>


<canvas id="canvas" width="500" height="500"></canvas>

